<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ブログアプリ</title>
    <link rel="stylesheet" href="css/style.css">

</head>

<body>
    <h1>ブログ記事一覧</h1>
    <header>
        <nav>
            <ul>
                <li><a href="/blog">記事一覧</a></li>
                <li><a href="/post">記事を投稿する</a></li>
                <li><a href="/about">このサイトについて</a></li>
            </ul>
        </nav>
    </header>
    <div class="blog1">
        <h2>ブログ1</h2>
        <p>本文</p>
    </div>
    <div>
        <h2>ブログ2</h2>
        <p>本文</p>
    </div>
</body>

</html>