<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ブログを投稿する</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">記事一覧</a></li>
                <li><a href="/post">記事を投稿する</a></li>
                <li><a href="/about">このサイトについて</a></li>
            </ul>
        </nav>
    </header>
    <div class="form-container">
        <h1>ブログを投稿する</h1>

        <form th:action="@{/blog}" th:object="${blogForm}" method="post">

            <div class="form-group">
                <label for="title">タイトル</label>
                <input type="text" id="title" th:field="*{title}" placeholder="記事のタイトルを入力してください" required />
            </div>

            <div class="form-group">
                <label for="content">本文</label>
                <textarea id="content" th:field="*{content}" placeholder="ここに本文を入力してください" required></textarea>
            </div>

            <button type="submit" class="submit-btn">投稿する</button>
        </form>
    </div>
</body>

</html>